/* FOOTER */

.footer {
  text-align: center;
  padding: 60px 0;
  background-color: var(--reverse-bgr);

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer__container {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer__contacts {
  display: inline-block;
}
