/* JOIN US */

.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}
