/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  opacity: 0;
  visibility: visually-hidden;
  pointer-events: none;
}
.visually-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--white-text);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-clr);
}

/* Modal Content */

.modal__content {
  padding: 40px;
}

.input {
  margin-bottom: 10px;
}
.input__box {
  position: relative;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-clr);
  margin-bottom: 12px;
}

.input__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--alt-text-clr);

  margin-bottom: 4px;
}

.input__field {
  margin: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:focus {
  border-color: var(--accent-clr);
}
.input:focus-within .input__icon {
  fill: var(--accent-clr);
}
.input__field::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--main-text-clr);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__comment {
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  min-height: 120px;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.form-btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox__label {
  display: block;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-clr);
}
.checkbox:checked + .checkbox__label::before {
  background-image: url(../images/icons/icon\check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-clr);
  border-color: transparent;
}

.checkbox:focus + .checkbox__label::before {
  border-color: var(--accent-clr);
}

.checkbox__link {
  color: var(--accent-clr);
}
